 

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>
                                <form [formGroup] ="insertFrm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="username">UserName</label>
                                        <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter username" formControlName="username" >
                                        <div *ngIf="insertFrm.controls['username'].hasError('required') && (insertFrm.controls['username'].dirty||insertFrm.controls['username'].touched)">
                                            <!-- insertFrm.controls['id'].dirty (đã chỉnh sửa),insertFrm.controls['id'].touched (đã nhập vào textbox) -->
                                            <small *ngIf="insertFrm.controls['username'].hasError('required')" class="text-danger">username is required.</small>
                                            <!-- <small  *ngIf="insertFrm.controls['id'].hasError('maxlength')" class="text-danger">	  //bổ sung nếu dùng nhiều validate kết hợp -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter password" formControlName="password" >
                                        <div *ngIf="insertFrm.controls['password'].hasError('required') && (insertFrm.controls['password'].dirty||insertFrm.controls['password'].touched)">
                                            <small *ngIf="insertFrm.controls['password'].hasError('required')" class="text-danger">password is required.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter name" formControlName="name" >
                                        <div *ngIf="insertFrm.controls['name'].hasError('required') && (insertFrm.controls['name'].dirty||insertFrm.controls['name'].touched)">
                                            <small *ngIf="insertFrm.controls['name'].hasError('required')" class="text-danger">name is required.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tel">Phone Number</label>
                                        <input type="tel" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter phone number" formControlName="tel" >
                                        <div *ngIf="insertFrm.controls['tel'].hasError('required') && (insertFrm.controls['tel'].dirty||insertFrm.controls['tel'].touched)">
                                            <small *ngIf="insertFrm.controls['tel'].hasError('required')" class="text-danger">Phone number is required.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter email" formControlName="email" >
                                        <div *ngIf="insertFrm.controls['email'].hasError('required') && (insertFrm.controls['email'].dirty||insertFrm.controls['email'].touched)">
                                            <small *ngIf="insertFrm.controls['email'].hasError('required')" class="text-danger">email is required.</small>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary" [disabled]="!insertFrm.valid" value="Sign Up">
                                    <div style="color: greenyellow;" *ngIf="msgSignUpStatus" [innerHTML]="msgSignUpStatus"></div>
                                    <div style="color: red;" *ngIf="!msgSignUpStatus" [innerHTML]="msgSignUpStatus"></div>
                                    
                                </form>
                                <hr>
                                <div class="text-center">
                                   <span> Had an account? <a class="bigger" (click)="changeToLogin()"> Login</a> </span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
    